*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container{
    max-width: 1300px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
}
a{
    text-decoration: none;
}
.navbar-nav li a{
    text-align: center;
    margin: 0 10px !important;
}
.navbar-nav li  :hover{
    color: #AD343E !important;
}
ul li {
    list-style: none;
}
.topbar{
    background-color: #474747;
    padding: 15px 0;
}
.topbar a{
    color: white;
}
.topbar a:hover{
    background-color: #AD343E;
}
.right{
    text-align: right;
}
.right a{
    margin: 0 5px;
    background-color: #6b6464;
    border-radius: 50%;
    padding: 10px;
}
.btn{
    border: 2px solid #474747;
    border-radius: 50px;
    padding: 10px 15px;
}
.menu{
    background-color: #DBDFD0;
    padding: 7px 15px;
    border-radius: 50px;
}
.menu:hover{
    background-color: #AD343E;
    border-radius: 50px;
    color: #DBDFD0;
}
.box-br{
    display: flex;
    justify-content: center;
    align-items: center;
}
.navbar-toggler{
    background-color: #AD343E;
}
@media screen and (max-width:767px){
    .main-top{
        display: flex;
       flex-direction: column;
       text-align: center;
    }
    .right{
        text-align: center;
        margin-top: 30px;
    }
    .box-br{
        display: flex;
        flex-direction: column;
    }
}
/* menu */
.main-menu h2{
    text-align: center;
    font-size: 50px;
}
.main-menu p{
    text-align: center;
    font-size: 18px;
    max-width: 530px;
    margin: auto;
}
.click a{
    color: black;
}
.all{
    background-color: #AD343E;
    padding: 10px 40px;
    border-radius: 50px;
    color: #FFFFFF !important;
    border: none !important;
}
.click a{
    border: 1px solid #474747;
     padding: 10px 40px;
    border-radius: 50px;
}
.click a:hover{
    background-color: #AD343E;
    padding: 10px 40px;
    border-radius: 50px;
    color: #FFFFFF;
}
/* card part */
.card-part1{
    padding-top: 70px;
    padding-bottom: 70ox;
}
.card-part1 img:hover{
    box-shadow: 0 0 10px #474747;
    transform: scale(0.9);
}

.card-part1 .card{
    text-align: center;
}
.card-part1 .card h5{
    color: #AD343E;
}
.card-part1 .card span{
    font-size: 20px;
    font-weight: 600;
}
.card-part1 .card p{
    font-size: 16px;
}
/*  */
.apps{
    background-color: #F9F9F7;
    padding-top: 70px;
    padding-bottom: 70px;
}
.apps h4{
    font-size: 40px;
    max-width: 400px;
    padding-bottom: 20px;
}
.apps p{
    font-size: 16px;
    max-width: 350px;
}
.apps-part img{
background-color: #FFFFFF;
padding: 15px;
border-radius: 10px;
}
.apps-part img:hover{
    box-shadow: 0 0 10px #474747;
}
@media screen and (max-width:1199px){
    .more-app{
        display: flex;
        flex-direction: column;
    }
}
@media screen and (max-width:991px){
    .main-apprt{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .more-app{
        display: flex;
       justify-content: center;
        align-items: center;
    }
}
/*  */
.footer{
    background-color: #474747;
    padding-top: 100px;
    padding-bottom: 100px;
}
.footer ul li a:hover{
    color: #AD343E;
}
.first-col p{
    font-size: 16px;
    color: #DBDFD0;
}
.sec-col span{
    font-size: 16px;
    color: #FFFFFF;
    font-weight: 600;
}
.sec-col ul li{
    padding: 10px 0;
}
.sec-col ul li a{
    color: #DBDFD0;
    font-size: 16px;
}
.first-col a:hover{
    background-color: #6b6464;
}
.copy{
    text-align: center;
    color: #DBDFD0;
    font-size: 16px;
}
.first-col a{
    font-size: 15px;
    color: #FFFFFF;
    margin: 0 7px;
    background-color: #AD343E;
    border-radius: 50%;
    padding: 10px;
}
.ak img:hover{
       transform: scale(1.1);
    }
    .do img:hover{
       transform: scale(1.1);
    }
    .footer .ka{
    max-width: 140px;
}
.footer .ba{
    max-width: 140px;
}
@media screen and (max-width:1199px){
    .ak{
        display: flex;
        flex-direction: column;
    }
    .do{
        display: flex;
        flex-direction: column;
    }
    .oma{
        text-align: center;
    }
    .ak img{
        margin-bottom: 30px !important;
    }
    .do img{
        margin-bottom: 30px !important;
    }
}
