*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color:  #F9F9F7;
}
.container{
    max-width: 1300px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
}
a{
    text-decoration: none;
}
.navbar-nav li a{
    text-align: center;
    margin: 0 10px !important;
}
.navbar-nav li  :hover{
    color: #AD343E !important;
}
ul li {
    list-style: none;
}
.topbar{
    background-color: #474747;
    padding: 15px 0;
}
.topbar a{
    color: white;
}

.right{
    text-align: right;
}
.right a{
    margin: 0 5px;
    background-color: #6b6464;
    border-radius: 50%;
    padding: 10px;
}
.btn{
    border: 2px solid #474747;
    border-radius: 50px;
    padding: 10px 15px;
}
.pages{
    background-color: #DBDFD0;
    padding: 7px 15px;
    border-radius: 50px;
}
.book:hover{
    background-color: #AD343E;
    border-radius: 50px;
    color: #DBDFD0;
}
@media screen and (max-width:767px){
    .main-top{
        display: flex;
       flex-direction: column;
       text-align: center;
    }
    .right{
        text-align: center;
        margin-top: 30px;
    }
}
/* blog */
.blog h3{
    font-size: 50px;
    text-align: center;
}
.blog p{
    font-size: 18px;
    max-width: 600px;
    width: 100%;
    text-align: center;
    margin: auto;
}
.card-part p{
    text-align: left;
    font-size: 14px;
}
.card-part h6{
    font-size: 20px;
}
.card-part .card{
    box-shadow: 0 0 2px gray;
}
/*  */
.footer{
    background-color: #474747;
    padding-top: 100px;
    padding-bottom: 100px;
}
.footer ul li a:hover{
    color: #AD343E;
}
.first-col p{
    font-size: 16px;
    color: #DBDFD0;
}
.sec-col span{
    font-size: 16px;
    color: #FFFFFF;
    font-weight: 600;
}
.sec-col ul li{
    padding: 10px 0;
}
.sec-col ul li a{
    color: #DBDFD0;
    font-size: 16px;
}
.copy{
    text-align: center;
    color: #DBDFD0;
    font-size: 16px;
}
.first-col a{
    font-size: 15px;
    color: #FFFFFF;
    margin: 0 7px;
    background-color: #AD343E;
    border-radius: 50%;
    padding: 10px;
}
@media screen and (max-width:1199px){
    .ak{
        display: flex;
        flex-direction: column;
    }
    .do{
        display: flex;
        flex-direction: column;
    }
    .oma{
        text-align: center;
    }
    .ak img{
        margin-bottom: 30px !important;
    }
    .do img{
        margin-bottom: 30px !important;
    }
}
@media screen and (max-width:575px){
    .part{
        display: flex;
        flex-direction: column;
    }
}
